@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-base: 68, 68, 68;

    /* EMERALD */
    /* --color-selected: 5, 150, 105; */

    /* CYAN */
    --color-selected: 8, 145, 178;

    /* SKY */
    /* --color-selected: 2, 132, 199; */

    /* INDIGO */
    /* --color-selected: 99, 102, 241; */

    /* BLUE-ISH GRAY */
    --color-offwhite: 240, 242, 245;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Intel, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}